<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main_1.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <link rel="icon" href="data:,">
    <title>CONNECTOR</title>
</head>
<body>
    <div id="container">
        <header id="header">
            <h1>CONNECTOR</h1>
            <nav>
                <ul>
                </ul>
            </nav>
        </header>
        <aside id="left_sidebar">
            <div class="sidebar_1">
                <div class="left_sidebar_form">
                    <p><strong>언어</strong></p>
                    <form action="" method="GET">
                        <input type="submit" id="button_l1" value="C">
                        <input type="submit" id="button_l2" value="C++">
                        <input type="submit" id="button_l3" value="C#">
                        <input type="submit" id="button_l4" value="Python">
                        <input type="submit" id="button_l5" value="Java">
                        <input type="submit" id="button_l6" value="JavaScript">
                        <input type="submit" id="button_l7" value="Node.js">
                        <input type="submit" id="button_l8" value="Kotlin">
                        <input type="submit" id="button_l9" value="Swift">
                    </form>
                    <p><strong>분야</strong></p>
                    <form action="" method="GET">
                        <input type="submit" id="button_f1" value="Front_end">
                        <input type="submit" id="button_f2" value="Back_end">
                        <input type="submit" id="button_f3" value="Android">
                        <input type="submit" id="button_f4" value="iOS">
                        <input type="submit" id="button_f5" value="A.I">
                        <input type="submit" id="button_f6" value="Game">
                    </form>
                </div>
        </aside>
        <section id = "contents">
            <div class="main_page">
                <table width="100%" >
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>content</th>
                        <th>language</th>
                        <th>class</th>
                        <th>writer</th>
                    </tr>
                    <% main.forEach(function(item,index){ %>
                    <tr>
                        <td><a href='http://10.120.74.53:8085/<%= item.id%>'style="text-decoration:none"><%= item.id%></a></td>
                        <td><a href="/viewallcontents/<%= item.id %>"style="text-decoration:none"><%= item.name%></a></td>
                        <td><%= item.content.substring(0,25)%></td>
                        <td><%= item.language%></td>
                        <td><%= item.class%></td>
                        <td><%= item.writer%></td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        </section>
        <aside id = "right_sidebar">
            <div class="sidebar_2">
                <div class="left_sidebar_form">
                    <p><strong>언어</strong></p>
                    <form action="" method="GET">
                        <input type="submit" id="button_l1" value="C">
                        <input type="submit" id="button_l2" value="C+">
                        <input type="submit" id="button_l3" value="C#">
                        <input type="submit" id="button_l4" value="Python">
                        <input type="submit" id="button_l5" value="Java">
                        <input type="submit" id="button_l6" value="JavaScript">
                        <input type="submit" id="button_l7" value="Node.js">
                        <input type="submit" id="button_l8" value="Kotlin">
                        <input type="submit" id="button_l9" value="Swift">
                </form>
                    <p><strong>분야</strong></p>
                    <form action="" method="GET">
                        <input type="submit" id="button_f1" value="Front_end">
                        <input type="submit" id="button_f2" value="Back_end">
                        <input type="submit" id="button_f3" value="Android">
                        <input type="submit" id="button_f4" value="iOS">
                        <input type="submit" id="button_f5" value="A.I">
                        <input type="submit" id="button_f6" value="Game">
                    </form>
                    <a href='/logout'style="text-decoration:none">로그아웃</a>
                </div>
        </aside>
        <footer id = "footer">
            푸터

        </footer>
    </div>
</body>
</html>